{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",
    "COSMOSDB_ENDPOINT": "",
    "COSMOSDB_DATABASE_NAME": "",
    "SUBSCRIPTION_REQUEST_EVENTHUB_NAMESPACE": "",
    "SUBSCRIPTION_REQUEST_EVENTHUB_NAME": ""
  }
}
