{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",
    "COSMOSDB_ENDPOINT": "<put-here-the-the-cosmos-database-endpoint>",
    "COSMOSDB_DATABASE_NAME": "<put-here-the-name-of-cosmos-database>",
    "EVENTHUB_NAMESPACE": "<put-here-the-the-event-hub-namespace>",
    "SUBSCRIPTION_REQUEST_EVENTHUB_NAME": "<put-here-the-name-of-the-event-hub>",
    "ACTIVATION_JOB_TRIGGER": "off"
  }
}
