{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "NODE_ENV": "development",
    "COSMOSDB_ENDPOINT": "<put-here-the-the-cosmos-database-endpoint>",
    "COSMOSDB_DATABASE_NAME": "<put-here-the-name-of-cosmos-database>",
    "EVENTHUB_NAMESPACE": "<put-here-the-the-event-hub-namespace>",
    "SUBSCRIPTION_REQUEST_EVENTHUB_NAME": "<put-here-the-name-of-the-event-hub>",
    "SUBSCRIPTION_REQUEST_CONSUMER": "on",
    "SubscriptionRequestEventHubConnection__fullyQualifiedNamespace": "<put-here-the-the-event-hub-namespace>",
    "AzureWebJobsStorage": "<put-here-the-connection-string-to-a-storage>",
    "ACTIVATION_JOB_TRIGGER": "off",
    "ActivationJobCosmosDBConnection__accountEndpoint": "<put-here-the-the-cosmos-database-account-endpoint>",
    "LEASES_COSMOSDB_CONTAINER_NAME": "<put-here-the-name-of-leases-container>",
    "ACTIVATION_JOB_CONCURRENCY_THRESHOLD": "50"
  }
}
